<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head th:replace = "~{fragments/head :: head(#{pageBillToPaysTitle})}"></head>

<body>

<div th:replace = "~{fragments/menus :: navbar_common(hide_login_logout = false,
                                                      page_title = #{pageBillToPaysTitle},
                                                      current_dropitem_no = '8')}"></div>

<div class = "container-lg">
  <div th:replace = "~{fragments/div_error :: div_error(${error})}"></div>

  <h1 class = "text-center m-3 mb-4 d-none"
      th:text = "#{pageBillToPaysTitle}"></h1>

  <form th:action = "@{/create_billToPay_form}" method = "GET">
    <button type = "submit"
            class = "btn btn-primary float-right m-3"
            th:text = "#{buttonCreateNewBillToPay}">
    </button>
  </form>

  <table class = "table table-sm table-striped table-bordered">
    <thead class = "table-info text-center">
      <tr>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{wordBillToPayName}">
        </th>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{wordBillToPay}">
        </th>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{wordActions}">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each = "billToPay: ${billToPays}">
        <td class = "text-left  align-middle h6 p-1 pl-3"
            th:text = "${billToPay.name}">
        </td>
        <td class = "text-left  align-middle h6 p-1 pl-3"
            th:text = "${billToPay.billToPay}">
        </td>
        <td class = "text-center align-top p-0">
          <!-- Action buttons -->
          <form class = "d-inline-flex flex-wrap justify-content-center align-content-center align-items-center w-100"
                th:action = "@{/update_billToPay_form}"
                method = "GET">
            <button class = "btn btn-primary m-1 flex-grow-1"
                    type = "submit"
                    name = "billToPayId"
                    th:value = "${billToPay.id}"
                    th:text = "#{buttonEdit}"
                    th:formaction = "@{/update_billToPay_form}"
                    th:formmethod = "GET"
            />
            <button class = "btn btn-danger m-1 flex-grow-1"
                    type = "submit"
                    name = "billToPayId"
                    th:value = "${billToPay.id}"
                    th:text = "#{buttonDelete}"
                    th:formaction = "@{/delete_billToPay}"
                    th:formmethod = "POST"
            />
          </form>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</body>
</html>