<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head th:replace = "~{fragments/head :: head(#{pagePlacementsTitle})}"></head>

<body>

<div th:replace = "~{fragments/menus :: navbar_common(hide_login_logout = false,
                                                      page_title = #{pagePlacementsTitle},
                                                      current_dropitem_no = '6')}"></div>

<div class = "container-lg">
  <div th:replace = "~{fragments/div_error :: div_error(${error})}"></div>

  <h1 class = "text-center m-3 mb-4 d-none"
      th:text = "#{pagePlacementsTitle}"></h1>

  <form th:action = "@{/create_placement_form}"
        method = "GET">
    <button class = "btn btn-primary float-right m-3"
            type = "submit"
            th:text = "#{buttonCreateNewPlacement}">
    </button>
  </form>

  <table class = "table table-sm table-striped table-bordered">
    <thead class = "table-info text-center">
      <tr>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{placementName}">
        </th>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{placementImage}">
        </th>
        <th class = "text-center  align-middle h5 p-3"
            th:text = "#{wordActions}">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each = "placement: ${placements}">
        <td class = "text-left  align-top h6 p-3"
            th:text = "${placement.name}"/>
        <td class = "text-center align-top p-0">
          <img alt = "placement image"
               th:src = "@{'/'+${@environment.getProperty('app.cinemafiles-path')}+'/'+${placement.imageName}}"
               width = "100%"
          />
        </td>
        <td class = "text-center align-middle p-0">
          <!-- Action buttons -->
          <form class = "d-inline-flex flex-wrap justify-content-center align-content-center align-items-center w-100"
                th:action = "@{/update_placement_form}"
                method = "GET">
            <input type = "hidden"
                   name = "placementId"
                   th:value = "${placement.id}"
            />
            <button class = "btn btn-primary m-1 flex-grow-1"
                    type = "submit"
                    name = "placementId"
                    th:formaction = "@{/update_placement_form}"
                    th:formmethod = "GET"
                    th:text = "#{buttonEdit}"
                    th:value = "${placement.id}"
            />
            <button class = "btn btn-danger m-1 flex-grow-1"
                    type = "submit"
                    name = "placementId"
                    th:formaction = "@{/delete_placement}"
                    th:formmethod = "POST"
                    th:text = "#{buttonDelete}"
                    th:value = "${placement.id}"
            />
          </form>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</body>
</html>